body {
    background-color: ; /* Light pink background */
    color: #C7E900 /* Pink text color */
    margin: 0;
    padding: 0;
    font-family::Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  
  nav {
    background-color: #C7E900 /* Light pink navigation bar background */
    padding: 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Courier New';
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
    font-family: 'Courier New';
  }
  
  nav ul li a {
    text-decoration: none;
    color: #; 
    font-family: 'Courier New';/* Pink link color */
  }
  
  header {
    background-color: #C7E900; /* Dark pink header background */
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    background-color:aliceblue; /* Light pink section background */
    padding: 20px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #f8bbd0; /* Light pink footer background */
    padding: 10px;
    text-align: center;
  }


  #container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;

 }

 #image {
    height: 750px;
    width: 575px;
    border: solid 5px #da1c68;
 }
 #image2 {
    height: 300px;
    width: 300px;
    border: solid 5px #da1c68;
 }
 h2 {
    font-family: 'Courier New';
 }

